/*Setup CSS variables*/
:root {
    --main-color: #FF897D;
    --secondary-color: #63A9FF;
    --body-font: 'Nanum Myeongjo', serif;
    --header-font: 'Staatliches', cursive;
}

/*Box sizing*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Remove list styles*/
li {
    list-style: none;
}

/*body style*/
body {
    font-family: var(--body-font);
}

/*Header styles*/
header {
    font-family: var(--header-font);
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 1rem;
    text-align: center;
}

/*Navigation styling*/
nav {
    display: flex;
    justify-content: center;
}

nav a {
    background-color: #ccc;
    color: black;
    letter-spacing: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    font-family: var(--body-font);
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: var(--main-color);
    cursor: pointer;
}




/*Grid setup on section*/
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 4rem 0 4rem;
}

.productList > section > h1 {
    font-family: var(--header-font);
    background-color: var(--main-color);
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 1/-1;
}

.product {
    display: flex;
    flex-flow: column;
    border: 8px solid #eee;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}

.product > h3 {
    text-transform: capitalize;
}

.discounted {
    color: red;
}

/*Vegetarian class status*/
.vegetarianStatus {
    color: var(--secondary-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.8rem;
}

.oldPrice {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
}

.soldOut {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.2;
}

.product > img {
    align-self: center;
    max-width: 100%;
    border-radius: 1rem;
}

/*Button styling*/
button {
    font: var(--body-font);
    background-color: #ccc;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin-top: auto;
    transition: background-color 0.5s;
}

button:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

/*The modal for long description text*/
.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    text-transform: capitalize;
    border: 1rem solid var(--main-color);
    border-radius: 1rem;
    margin: 1em;
    padding: 2em;
}

.modal-content h3 {
        color: var(--main-color);
}

/*Responsive for mobile*/
@media only screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-column: 1;

    }
